<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Resouesta Agendamiento</title>
    <link rel="stylesheet" href="/css/ventana.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font para Header -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

</body>
</html>