<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <title>Agendamiento de Citas</title>
    <link rel="stylesheet" href="/css/agendamiento.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font para Header -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div id="calendario" class="casilla">
        <header>
            <p class="fecha-actual">Mayo,2024</p>
            <div class="icons">
                <span id="anterior" class="material-symbols-rounded">&lt;</span>
                <span id="siguiente" class="material-symbols-rounded">&gt;</span>
            </div>
        </header>
        <div class="contenido">
            <ul class="semanas">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Do</li>
            </ul>
            <ul class="dias">
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
            </ul>
        </div>
    </div>

</body>

</html>
