<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <title>Agendamiento de Cita</title>
    <link rel="stylesheet" href="/css/agendamiento.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font para Header -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <div id="calendario" class="casilla">
        <header>
            <p id="fecha-actual"></p>
            <div class="icons">
                <span id="anterior" class="material-symbols-rounded">&lt;</span>
                <span id="siguiente" class="material-symbols-rounded">&gt;</span>
            </div>
        </header>
        <div class="contenido">
            <ul class="semanas">
                <li>Lu</li>
                <li>Ma</li>
                <li>Mi</li>
                <li>Ju</li>
                <li>Vi</li>
                <li>Sa</li>
                <li>Do</li>
            </ul>
            <ul class="dias"></ul>
        </div>
    </div>
<script src="/js/agendamiento.js"></script>
</body>

</html>
