<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Titulo, favicon, formato-->
    <title>Inicio</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- estilos y colores-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>.ie-panel{display: none;background: #101010;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(210, 7, 7, 0.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
      
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!-- Pagina-->
    <div class="text-center page"><a class="banner banner-top" href="" target="_blank"><img src="/images/banner1.png" alt="" height="0"></a>

      <!-- Page Header-->
      <header class="page-header" style="padding-bottom: 24px">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default-with-top-panel" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-fullwidth" data-md-stick-up-offset="90px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-top-panel rd-navbar-collapse">
              <div class="rd-navbar-top-panel-inner">
                <div class="left-side">
                  <div class="group"><span class="text-italic">Siguenos:</span>
                    <ul class="list-inline">
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-instagram" href="https://www.instagram.com/topgearbogota/"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-facebook" href="https://www.facebook.com/topgearbogota"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-Tik-Tok" href="https://www.tiktok.com/@topgear.bogota"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="center-side">
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand fullwidth-brand"><a class="brand-name" href="index.html"><img src="/images/logo-default-314x48.png" alt="" width="314" height="48"/></a></div>
                </div>
                <div class="right-side">
                  <!-- Contact Info-->
                  <div class="contact-info">
                    <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                      <div class="unit__left"><span class="icon icon-primary text-middle mdi mdi-phone"></span></div>
                      <div class="unit__body"><a class="text-middle" href="telefono:https://api.whatsapp.com/send?phone=573153764044&text=Hola%20TopGear%20%F0%9F%9B%9E%F0%9F%92%AF%2C%20quiero%20informaci%C3%B3n%20sobre">+57 3153764044</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar collapse toggle-->
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand mobile-brand"><a class="brand-name" href="index.html"><img src="/images/logo-default-314x48.png" alt="" width="314" height="48"/></a></div>
              </div>
              <div class="rd-navbar-aside-right">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-scroll-holder">
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="index.html">Inicio</a>
                      </li>
                      <li><a href="categorias.html">Categorias</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section">
        <div class="shell-wide">
          <div class="range range-30 range-xs-center">
            <div class="cell-lg-8 cell-xl-9">
              <!-- Imagenes del inicio-->
              <section class="section">
                <!-- deslizadores -->
                <div class="swiper-container swiper-slider swiper-style-2" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="slide" data-direction="vertical">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" data-slide-bg="/images/Car4.png">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Tu carro</h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="100">En las mejores manos</h3>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="100">¡para que siempre ruedes con seguridad y confianza!!</h4>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="https://topgearbogota.com/" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>Conoce más</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide" data-slide-bg="images/car1.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Combo GTR </h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="700">El combo perfecto para tu vehiculo</h3>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="800">porque es 4 en 1, potente y sin igual, ¡tu camino será un festival.</h4>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="https://api.whatsapp.com/send?phone=573153764044&text=Hola%20TopGear%20%F0%9F%9B%9E%F0%9F%92%AF%2C%20quiero%20informaci%C3%B3n%20sobre" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>Conoce más</span></a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide" data-slide-bg="images/car5.jpg">
                      <div class="swiper-slide-caption">
                        <div class="shell text-sm-left">
                          <h1 data-caption-animate="slideInDown" data-caption-delay="100">Con Nuestro plan Express </h1>
                          <div class="slider-subtitle-group">
                            <div class="decoration-line" data-caption-animate="slideInDown" data-caption-delay="400"></div>
                            <h3 data-caption-animate="slideInLeft" data-caption-delay="700">Puedes dejar de lado tu estrés</h3>
                            <h4 data-caption-animate="slideInLeft" data-caption-delay="800">Incluye: Balanceo, revision de llantas junto con fluidos, limpieza de frenos y escaneo total del vehiculo</h4>
                            <h5 data-caption-animate="slideInLeft" data-caption-delay="700">Por tan solo $150.000. </h5>
                          </div><a class="button button-effect-ujarak button-lg button-white-outline button-square" href="https://api.whatsapp.com/send?phone=573153764044&text=Hola%20TopGear%20%F0%9F%9B%9E%F0%9F%92%AF%2C%20quiero%20informaci%C3%B3n%20sobre" data-caption-animate="slideInLeft" data-caption-delay="1150"><span>¡Pregunta ya!</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </section>
            </div>
          
              <div class="Especificaciones">
                <h3>Especificaciones</h3>
                <!-- RD Mailform-->
               <div class="text-center">
                <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                  <div class="range range-sm-bottom spacing-20">
                    <div class="cell-lg-12 cell-md-4">
                      <p class="text-uppercase">Marca</p>
                      <div class="form-wrap form-wrap-validation">
                        <!--Select 2-->
                        <select id="selectorMarca" class="form-input select-filter" data-minimum-results-search="-1" data-placeholder="Marca" data-constraints="@Required" onchange="actualizarModelos()">
                          <option>&nbsp;</option>
                          <option th:each="vehicle : ${marcas}" th:value="${vehicle}" th:text="${vehicle}">&nbsp;</option>
                        </select>
                      </div>
                    </div>
                    <div class="cell-lg-12 cell-md-4 cell-sm-6">
                      <p class="text-uppercase">Modelo</p>
                      <div class="form-wrap form-wrap-validation">
                        <!--Select 2-->
                        <select id="selectorModelo" class="form-input select-filter" data-minimum-results-search="-1" data-placeholder="Modelo" data-constraints="@Required" onchange="actualizarYears()">
                          <option>&nbsp;</option>
                        </select>
                      </div>
                    </div>
                    <div class="cell-lg-12 cell-md-4 cell-sm-6">
                      <p class="text-uppercase">Año</p>
                      <div class="form-wrap form-wrap-validation">
                        <input type="number" id="selectorYear" min="1990" max="1991" required disabled>
                      </div>
                    </div>
                    <div class="cell-lg-12 cell-md-4">
                      <button class="button button-primary button-square button-block button-effect-ujarak" type="submit"><span>Cotizar servicios</span></button>
                    </div>
                  </div>
                </form>
               </div>
              </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Page Footer-->
    <div class="footer-banner"><a class="banner " href="" target="_blank"><img src="images/bannerfoot.png" alt="" height="0"></a></div>
     <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
    <!--Coded by Drel-->

    <script>

      function actualizarModelos(){
        var selectorMarca = document.getElementById("selectorMarca").value;
        var selectorModel = document.getElementById("selectorModelo");
        var selectorYear = document.getElementById("selectorYear");
        var opcion = document.createElement("option");
        selectorModel.innerHTML = "";
        selectorModel.add(opcion);
        selectorYear.value = "";
        selectorYear.disabled = true;
        fetch('/vehiculos/modelos/' + selectorMarca).then(response => response.json())
                .then(data => {
                  data.forEach(v =>{
                    var option = document.createElement("option");
                    option.value = v.model;
                    option.text = v.model;
                    selectorModel.add(option);
                  });
                });
      }

      function actualizarYears(){
        var selectorMarca = document.getElementById("selectorMarca").value;
        var selectorModel = document.getElementById("selectorModelo").value;
        var selectorYear = document.getElementById("selectorYear");
        selectorYear.value = "";
        selectorYear.disabled = false;
        fetch('/vehiculos/anos/' + selectorMarca + '/' + selectorModel).then(response => response.json())
                .then(data => {
                  selectorYear.min = data[0];
                  selectorYear.max = data[1];
                });
      }





    </script>
  </body>
</html>